doctype html
html(lang='en')
  head
    link(rel='StyleSheet', href='../static/Style1.css')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ClimbingBoard
    script(defer='', src='/static/JScodes.js')
    script(defer='', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
  body#StatPage
    h1#welcome= user 
    #containerStat
      #Header.GridSettings
        .hero
          nav
            ul.StatsItems
              span#time
              li
                a(href='http://localhost:8080/HomePage') Home
              |  
              li
                a(href='http://localhost:8080/Workout') Workout
              |  
              li
                a#go_to_stats(href='http://localhost:8080/statistics') My Climbs
      #LetsGo
         a(href='http://localhost:8080/Workout')
          button#LetsGoButton(href='http://localhost:8080/Workout', type='button') Lets Go
      #Table
        table.HistoryClimb
          thead
            tr
              th Index
              th When
              th Duration
              th Level
          tbody
            each n in myclimbs 
              tr
              td=n.num 
              td=n.date
              td=n.duration 
              td=n.level 
            
              // Enter SQL DATA
      #Filters.GridSettings
        
        form(action='/FilterStats',method='post')
          .FilterText
            h2 Filters
            .input-group
              span.input-group-text From
              input.form-control(type='date' name='DateStart')
              span.input-group-text To
              input.form-control(type='date' name='DateFinish')
          br
          input#EasyFilter(type='checkbox', name='EasyFilter', value='easy')
          label(for='LevelFilter' name='EasyFilter')  Easy
          br
          input#MediumFilter(type='checkbox', name='MediumFilter', value='medium')
          label(for='LevelFilter' name='MediumFilter')  Medium
          br
          input#HardFilter(type='checkbox', name='HardFilter', value='hard')
          label(for='LevelFilter')  Hard
          input#FilterLogo(type='image' src='/MEDIA/FilterLogo.png' alt='Submit Form')
          br
          br
          br
      p#Notice.GridSettings  *please notice, guests can see all the other guests's climbs. Register to see your own progress.
      
        